NUXT_PUBLIC_API_URL="http://localhost:8080/api"
NUXT_PUBLIC_TINY_KEY="not required for newer version"
NODE_ENV=development
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FACEBOOK_APP_ID=""
FACEBOOK_APP_SECRET=""

FRONTEND_URL="http://localhost:3000"
FILE_UPLOAD_DIR=""